$screen-small: 688px;
$screen-normal: 988px;
$screen-large: 1280px;

$color-separation-line: #2b343c;
$color-text: #ffffff;
$color-text2: #536374;
$color-highlight: #1b7dd1;

$color-bg: rgb(21, 32, 43);
$color-bg2: #1d8bec;
$color-bg2-disabled: #82c5f7;
$color-bg3: rgb(37, 51, 65);
$color-bg-highlight: rgb(25, 39, 52);
$color-bg-highlight2: rgba(255, 255, 255, 0.03);