@use 'vars';

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(21, 32, 43);
  color: white;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  #root {
    margin: 0 auto;
    display: flex;
    height: 100%;
    max-width: 1200px;
    header {
      width: 88px;
      @media (min-width: vars.$screen-small) {
        width: auto;
        flex: 1;
      }
    }
    .home {
      flex: 1;
      @media (min-width: vars.$screen-small) {
        flex: auto;
        width: 600px;
        @media (min-width: vars.$screen-normal) {
          width: 890px;
          @media (min-width: vars.$screen-large) {
            width: 950px;
          }
        }
      }
    }
  }
}

